<div style= "color:purple; text-align: center; font-size: 30px;">Promise & Law</div>
<div class="pagesimage">
    <img class="img-responsive" style="width: 100%; height: 700px;" src="https://c1.staticflickr.com/3/2838/32884591993_e6683aeffc_k.jpg"> 
</div>
  
<br>

<br>
<div class="container">

  <div style= "color:purple; text-align: center; font-size: 30px;">The Scout Promise and Law</div>

  <br>

  <p>The Scout Movement is based on the following principles:
  <br>
  <br>
  Duty to God - a person’s relationship with the spiritual values of life, the fundamental belief in a force above mankind.

  <br>
  <br>

  Duty to others – a person’s relationship with, and responsibility within, society in the broadest sense of the term: his or her family, local community, country and the world at large, as well as respect for others and for the natural world.

  <br>
  <br>

  Duty to self – a person’s responsibility to develop his or her own potential, to the best of that person’s ability.

  <br>
  <br>

  All members of the Scout Movement are required to adhere to the Scout Promise and Scout Law. The wording may vary in different National Scout Organizations as appropriate to the local culture, but they are all based on the Promise and Law originally conceived by the Founder of the Scout Movement, Baden-Powell.</p>
  <br>

  <div style= "color:purple; text-align: center; font-size: 30px;">The Scout Promise</div>
  <br>

  <p>On my honour I promise that I will do my best
  <br>
  To do my duty to God and the King (or to God and my Country)
  <br>
  To help other people at all times;
  <br>
  To obey the Scout Law. </p>
  <br>
      
  <div style= "color:purple; text-align: center; font-size: 30px;">The Scout Laws</div>
  <br>  

  <p>1. A Scout’s honour is to be trusted.
  <br>
  2. A Scout is loyal.
  <br>
  3. A Scout’s duty is to be useful and to help others.
  <br>
  4. A Scout is a friend to all and a brother to every other Scout.
  <br>
  5. A Scout is courteous.
  <br>
  6. A Scout is a friend to animals.
  <br>
  7. A Scout obeys orders of his parents, Patrol Leader or Scoutmaster without question.
  <br>
  8. A Scout smiles and whistles under all difficulties.
  <br>
  9. A Scout is thrifty.
  <br>
  10. A Scout is clean in thought, word and deed.</p>
  
  <br>