<div style= "color:purple; text-align: center; font-size: 30px;">Mission & Vision</div>
<div class="pagesimage">
    <img class="img-responsive" style="width: 100%; height: 700px;" src="https://c1.staticflickr.com/3/2838/32884591993_e6683aeffc_k.jpg"> 
</div>
  
<br>

<br>
<div class="container">

  <div style= "color:purple; text-align: center; font-size: 30px;">Mission</div>

  <br>

  <p>"The Mission of Scouting is to contribute to the education of young people, through a value system based on the Scout Promise and Law, to help build a better world where people are self-fulfilled as individuals and play a constructive role in society."</p>

  <p>The Mission was adopted at the 35th  World Scout Conference in Durban, South Africa in 1999.  Illustrating both the local and global impact of Scouting, the Mission of Scouting has been captured in World Scouting’s <a href="http://scout.org/sites/default/files/library_files/Brand%20Manual_EN.pdf">brand</a> as "Creating a Better World”.</p>
  <br>
      
  <div style= "color:purple; text-align: center; font-size: 30px;">Vision</div>
  <br>

  <p>"By 2023 Scouting will be the world’s leading educational youth movement, enabling 100 million young people to be active citizens creating positive change in their communities and in the world based on shared values."</p>
  <p>The Vision for Scouting, Vision 2023, was adopted at the 40th  World Scout Conference in Ljubljana, Slovenia in 2014.</p>
  <br>
      
  <div style= "color:purple; text-align: center; font-size: 30px;">Strategic Priorities</div>
  <br>  

  <p>The following Strategic Priorities were adopted at the 40th World Scout Conference in Ljubljana, Slovenia in 2014.</p>
  <p><b>Youth Engagement<b></b></b></p>
  <p>Scouting should give young people the opportunity to develop the skills and knowledge,empowering them to take an active part in the Movement and in their communities. Involvement, recognition and intergenerational exchange are key in providing a framework for our youth members.</p>
  <p><b>Educational Methods<b></b></b></p>
  <p>The Youth Programme should provide a non-formal learning environment, strengthening the capacity of young people to face the challenges of tomorrow. Scouting should attract, train and retain quality adult volunteers to deliver the Youth Programme.</p>
  <p><b>Diversity &amp; Inclusion</b></p>
  <p>Scouting should reflect the societies in which it exists and actively work to welcome all individuals without distinction. This diversity should not only be reflected in the membership, but also the methods and programmes used within the Movement.</p>
  <p><b>Social Impact</b></p>
  <p>Every Scout should be involved in community service and share their experiences to inspire others. Through activities and projects, Scouts contribute to their communities and become leaders of positive change.</p>
  <p><b>Communications &amp; External Relations</b></p>
  <p>Scouting’s profile should accurately portray what we do and why we do it, reflecting our shared values. By using the most impactful methods of communication, and engaging in strategically relevant partnerships, Scouting should be recognised as the world’s leading youth movement.  </p>
  <p><b>Governance</b></p>
  <p>The governance of WOSM should be transparent, accountable, efficient and clearly linked to its overall strategy, and focused on achieving the mission and vision of the Movement. The roles and responsibilities of the different levels in the organisation should be clearly defined and understood, ensuring a customer-focused approach. In doing so, we ensure high synergy across all levels of WOSM with a high “return on investment”.</p>
  
  <br>
   
      
  <div style= "color:purple; text-align: center; font-size: 30px;">Terminal Plan</div>

  <br>

  <p>At the 40th World Scout Conference in Slovenia in 2014, a new Strategy for Scouting was adopted – Vision 2023.</p>
  <p><a href="http://scout.org/node/50232">The Triennial Plan for 2014-17</a>, presented by the World Scout Committee, is the first step towards achieving the Vision, translating it into actions for the next three years. It will serve as a guide to the World Scout Committee over the coming years.</p>
  <br>
</div>