<div style= "color:purple; text-align: center; font-size: 30px;">Rwandan Scouts Youth Program</div>
<div class="pagesimage">
    <img class="img-responsive" style="width: 100%; height: 700px;" src="https://c1.staticflickr.com/3/2850/33541566032_92a03794c9_k.jpg"> 
</div>
  
<br>

<br>
<div class="container">

  <div style= "color:purple; text-align: center; font-size: 30px;">Youth Program</div>

  <br>

  <p>

Scouting is a Movement of progressive self-education for young people. According to Scouting’s educational approach, each person is born with a unique potential, which can be developed in a constructive direction. Making this potential a reality involves developing all of one’s capacities – physical, intellectual, emotional, social and spiritual. This is done by providing a supportive and organised learning environment, which stimulates and challenges each young person during his or her formative years.

<br>
<br>

The essential part of the Scouting experience lies in the Youth Programme. Youth Programme in Scouting not only refers to the activities, but also to how and why they are done. Overall, activities are seen as means rather than goals in themselves, and they create opportunities for each person to develop skills, attitudes and acquire knowledge. Young people are the main players in this non-formal educational process that also requires adequate Adult Support, which is usually provided by adult volunteers.

<br>
<br>

Scouting is also characterised by the fact that it is open to all, and is voluntary, non-political, independent and relevant to the young people of today. Through the Youth Programme, Scouts become active members of society and learn to lead themselves and others; all the while having fun, because – in the words of Lady Olave Baden-Powell – “If it isn’t fun, it isn’t Scouting”.
</p>
  <br>
</div>